body {
    color:black;
    background-color:rgba(250, 249, 246);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align:center;
    font-weight: 800px;
    font-size: 32px ;
}

h2 {
    text-align:center;
    font-weight: 800px;
    font-size: 24px;
}

h3 {
    text-align:left;
    font-weight: 800px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

ul {
    font-size: 16px;
    font-style:italic;
    list-style: square;
}

ol {
    font-size: 16px;
}

.ingredients,
.instructions,
.recipes {
    margin-bottom: 4px;
}


.source {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
}

::marker {
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}

.homepagerecipes {
    display: flex;
    justify-content: center;
    margin-top: 0;
}